## 导入pyodbc作为连接数据库的设定
pandas底下有一个io.sql,里面有一个to_sql 如果先导入，後续使用旧可以不用加上io_sql

In [3]:
import pyodbc
import pandas as pd 
import pandas.io.sql

pyodbc 的连接方式为odbc 比较老旧的连接方式，因为我是连接本地数据库ms sql 
其他的方式可以参考学习资源
* [Connecting Python to Oracle, SQL Server, MySQL, and PostgreSQL]
  (https://towardsdatascience.com/connecting-python-to-oracle-sql-server-mysql-and-postgresql-ea1e4523b1e9)
  
* [【呕心总结】python如何与mysql实现交互及常用sql语句]
  (https://juejin.im/post/5d8e0f2af265da5b7c4515ec)
* [数据科学 | pandas数据导入与导出]
  (https://zhuanlan.zhihu.com/p/88653839)

In [4]:
conn = pyodbc.connect(
    'Driver={SQL Server Native Client 10.0};'
    'Server=.;'
    'Database=gshm_jx;'
    'Trusted_Connection=yes;'
)
#{SQL Server Native Client 10.0} => mssql2008

* 方法一：使用游标，读取的结果的tuple 
* 方法二： pd.read_sql(sql_query, con)
* 方法二： pandas.io..read_sql(sql_query, con)

In [145]:
# cursor = conn.cursor()
# cursor.execute('select * from jx_mz_charge_detail where data_month =\'2002-04\'')

# for row in cursor: print(row)
# conn.close()


# resultList = []
# for row in cursor:
#     resultList.append(list(row))
#     df = pd.DataFrame(resultList)
# df

In [5]:
# 取参数表 除存为jx_parameter
sql = 'select * from jx_parameter'

table = 'jx_parameter' 
df_parameter = pd.read_sql(sql, conn)
# df_table = pd.read_sql_table(table, conn)

In [6]:
month = '2020-04'
data_month ='and data_month =\'month\''
df_parameter['para_data']=df_parameter['remark']+'and data_month ='+'\'2020-04\''
df_parameter = df_parameter.dropna(axis = 0, subset = ['remark'] )
df_parameter

,parameter_name,py_code,keyin_flag,remark,used_flag,start_date,end_date,remarks,upd_user,upd_date,para_data
0,超声科不计价成本,JC15,N,select sum(tot_amt) from jx_wz_out_sum where...,None,None,None,None,mis,2019-12-03 16:04:56,select sum(tot_amt) from jx_wz_out_sum where...
1,超声科门诊判读费,JC15,N,select sum(tot_amt) from jx_doc_orderfee where...,None,None,None,None,mis,2019-11-12 15:12:14,select sum(tot_amt) from jx_doc_orderfee where...
2,超声科门诊执行费,JC15,N,select sum(tot_amt) from jx_doc_exefee where d...,None,None,None,None,mis,2019-12-04 13:30:41,select sum(tot_amt) from jx_doc_exefee where d...
3,超声科其他成本,JC15,N,select sum(tot_amt) from jx_wz_out_sum where...,None,None,None,None,mis,2019-11-12 15:12:33,select sum(tot_amt) from jx_wz_out_sum where...
4,超声科人事费,JC15,N,select sum(tot_amt) from jx_salary where dept_...,None,None,None,None,mis,2019-11-12 15:12:38,select sum(tot_amt) from jx_salary where dept_...
...,...,...,...,...,...,...,...,...,...,...,...
427,重症医学科病区医师人事费,ST33,N,select sum(tot_amt) from jx_salary where dept_...,None,None,None,None,mis,2019-11-12 15:30:29,select sum(tot_amt) from jx_salary where dept_...
428,重症医学科病区住院护理费,ST33,N,select sum(tot_amt) from jx_nurse_amt where de...,None,None,None,None,mis,2019-11-12 15:30:30,select sum(tot_amt) from jx_nurse_amt where de...
429,重症医学科病区住院护理治疗费,ST33,N,select sum(tot_amt) from jx_nurse_treat_amt wh...,None,None,None,None,mis,2019-12-04 13:29:44,select sum(tot_amt) from jx_nurse_treat_amt wh...
430,重症医学科病区住院判读费,ST33,N,select sum(tot_amt) from jx_doc_orderfee where...,None,None,None,None,mis,2019-11-12 15:30:33,select sum(tot_amt) from jx_doc_orderfee where...
431,重症医学科病区住院执行费,ST33,N,select sum(tot_amt) from jx_doc_exefee where d...,None,None,None,None,mis,2019-11-12 15:30:38,select sum(tot_amt) from jx_doc_exefee where d...

## 迭代每一行病合并回原表格

In [7]:
df= pd.DataFrame() 
listcolum = []
df_parameter=df_parameter.reset_index(drop=True)

for para in df_parameter['para_data'] : 
        a = pd.read_sql(para , conn)
        df= df.append(a).reset_index(drop=True)

df.columns = ['para_value']

In [8]:
# df_parameter.drop('para_value' , axis =1  , inplace = True)
# df_parameter

df_parameter = pd.merge(df_parameter,df,left_index=True, right_index=True, how='outer')

## 写EXCEL 报表当中

In [11]:
# 写EXCEL 报表当中 
# writer = pd.ExcelWriter(r'C:\Users\Gary\python with SQL\pytho_output_result')
# path = 'C:\Users\Gary\python with SQL\pytho_output_result'
# df_parameter.to_excel(u'C:\Users\Gary\python with SQL\pytho_output_result',sheet='2020-04')

# writer.save()
# writer.close()


with pd.ExcelWriter(r'C:\Users\Gary\python with SQL\pytho_output_result\para_2020-04.xlsx') as writer:
    df_parameter.to_excel(writer, sheet_name='df1')
    df_parameter.to_excel(writer, sheet_name='df2')

# # 修改数据库资料
对於全表插入、覆盖、或者新储存数据没有的表
这部份需要导入 
`
from sqlalchemy import create_engine
`
因为sqlalchemy里面有sqlliet3 ()

In [161]:
df= pd.DataFrame() 
listcolum = []

for para in df_parameter['2020-04'] : 
        listcolum.append(pd.read_sql(para , conn))

In [162]:
listcolum

[
 0  13680.65,
 0  None,
 0  31496.72,
 0  14879.61,
 0  3814.8,
 0  None,
 0  32236.92,
 0  100.0,
 0  2.53,
 0  5645.25,
 0  59.0,
 0  311.0,
 0  10880.2,
 0  2.3,
 0  1220.0,
 0  4711.18,
 0  15.2057,
 0  364.3551,
 0  1119.15,
 0  5408.41,
 0  13726.94,
 0  53.0,
 0  6733.0,
 0  10704.5689,
 0  14152.6207,
 0  2071.63,
 0  6957.83,
 0  7942.69,
 0  None,
 0  79481.56,
 0  44580.67,
 0  6495.8,
 0  None,
 0  None,
 0  65557.05,
 0  2.37,
 0  27011.68,
 0  132.0,
 0  1002.0,
 0  13280.0,
 0  2.6,
 0  10086.7,
 0  19103.35,
 0  4242.294,
 0  9544.6071,
 0  16268.08,
 0  33078.71,
 0  32757.12,
 0  143.0,
 0  65614.0,
 0  6906.8,
 0  21444.7687,
 0  37022.5472,
 0  9854.31,
 0  44516.55,
 0  2355.0,
 0  2.45,
 0  6569.15,
 0  63.0,
 0  407.0,
 0  3639.2,
 0  2.2,
 0  3301.0,
 0  2864.19,
 0  None,
 0  None,
 0  1159.23,
 0  989.34,
 0  7801.57,
 0  68.0,
 0  3075.0,
 0  11272.0073,
 0  10085.5866,
 0  4647.82,
 0  7210.37,
 0  2.94,
 0  30187.9,
 0  124.0,
 0  1014.0,
 0  4511.2,
 0  1.6,
 0  423018.75,
 0  367870.01,
 0  None,
 0  931.9795,
 0  2643.28,
 0  6869.78,
 0  16187.12,
 0  125.0,
 0  4344.4,
 0  15585.6997,
 0  30674.4437,
 0  9419.57,
 0  53117.23,
 0  128579.0,
 0  6877.1,
 0  442.0848,
 0  8655.2,
 0  16473.2964,
 0  1625.0,
 0  2414.13,
 0  3422.0,
 0  10852.08,
 0  12168.36,
 0  13.0,
 0  5845.2,
 0  26565.3,
 0  95947.21,
 0  None,
 0  47467.26,
 0  22812.85,
 0  12561.6,
 0  None,
 0  150008.02,
 0  None,
 0  2313.3663,
 0  1919.9,
 0  10672.51,
 0  823.8,
 0  880.0,
 0  2678.85,
 0  159.51,
 0  8911.08,
 0  3422.0,
 0  89808.4,
 0  3263.6,
 0  22405.42,
 0  None,
 0  10092.51,
 0  4015.6,
 0  21.36,
 0  55452.25,
 0  2.75,
 0  7856.34,
 0  156.0,
 0  870.0,
 0  4640.2,
 0  1.8,
 0  30139.6,
 0  30075.85,
 0  None,
 0  826.7183,
 0  2723.14,
 0  6041.29,
 0  16108.95,
 0  154.0,
 0  3266.4,
 0  9829.0846,
 0  20423.8921,
 0  10188.32,
 0  52586.53,
 0  146246.0,
 0  916.7,
 0  None,
 0  None,
 0  1292.3098,
 0  None,
 0  1741.73,
 0  1201.98,
 0  642.55,
 0  375.0,
 0  617.2,
 0  8344.08,
 0  2.95,
 0  4599.75,
 0  51.0,
 0  483.0,
 0  5155.6,
 0  3.5,
 0  66811.8,
 0  22961.58,
 0  None,
 0  42.8618,
 0  1661.45,
 0  1393.81,
 0  12821.88,
 0  47.0,
 0  4060.4,
 0  9711.7287,
 0  17773.1408,
 0  5175.13,
 0  19437.85,
 0  128579.0,
 0  2.74,
 0  7486.95,
 0  209.0,
 0  1154.0,
 0  5241.0,
 0  2.0,
 0  11230.99,
 0  10681.34,
 0  None,
 0  13.8456,
 0  2372.1,
 0  4170.35,
 0  11987.32,
 0  230.0,
 0  3555.0,
 0  16373.1175,
 0  25278.654,
 0  14145.45,
 0  21837.47,
 0  29939.0,
 0  26735.91,
 0  279.0,
 0  6282.0,
 0  42255.114748,
 0  49343.05,
 0  41967.56,
 0  37709.38,
 0  412.0,
 0  72.0,
 0  130.0,
 0  804575.26,
 0  2.6,
 0  7002.7,
 0  117.0,
 0  727.0,
 0  3914.8,
 0  2.2,
 0  95848.97,
 0  73365.41,
 0  72.8376,
 0  296.4303,
 0  3986.54,
 0  3500.78,
 0  15189.69,
 0  118.0,
 0  4653.2,
 0  9941.1573,
 0  20095.0167,
 0  8249.53,
 0  45847.3,
 0  126199.0,
 0  439,
 0  7002.7,
 0  72.8376,
 0  3914.8,
 0  296.4303,
 0  95848.97,
 0  73365.41,
 0  3986.54,
 0  15189.69,
 0  1603,
 0  4653.2,
 0  3500.78,
 0  8217.15,
 0  1442.0,
 0  1975.0,
 0  None,
 0  None,
 0  3253.7594,
 0  None,
 0  7091.35,
 0  2836.44,
 0  665.2,
 0  None,
 0  7226.146,
 0  None,
 0  19581.59,
 0  2.45,
 0  6911.49,
 0  193.0,
 0  952.0,
 0  5718.0,
 0  1.8,
 0  9026.5,
 0  17294.22,
 0  None,
 0  24.577,
 0  3732.23,
 0  2631.0,
 0  15685.59,
 0  180.0,
 0  3263.2,
 0  13257.2958,
 0  35365.9504,
 0  19328.67,
 0  14959.89,
 0  279.0,
 0  528.0,
 0  8810.98,
 0  2043.384,
 0  1731.5,
 0  2062.4,
 0  7683.83,
 0  1741.929,
 0  2.71,
 0  9705.34,
 0  203.0,
 0  1061.0,
 0  4785.8,
 0  1.9,
 0  11990.5,
 0  10611.45,
 0  None,
 0  None,
 0  3359.74,
 0  6805.2,
 0  13310.36,
 0  198.0,
 0  4004.0,
 0  13971.5126,
 0  37542.9784,
 0  13475.75,
 0  22672.77,
 0  396.0,
 0  4004.0,
 0  73864.99,
 0  12.0,
 0  None,
 0  3765.2,
 0  None,
 0  2978.0,
 0  1247.5,
 0  None,
 0  3.6,
 0  None,
 0  52.2,
 0  9730.68,
 0  2.0,
 0  1326.0,
 0  37.0,
 0  118.048,
 0  39897.5078,
 0  773.02,
 0  17449.73,
 0  2.85,
 0  5788.97,
 0  61.0,
 0  259.0,
 0  3381.8,
 0  4.1,
 0  20305.16,
 0  21978.46,
 0  None,
 0  2503.8494,
 0  1777.5,
 0  11591.24,
 0  9009.21,
 0  63.0,
 0  1846.8,
 0  2536.2627,
 0  5806.8105,
 0  1823.8,
 0  15081.6,
 0  1004.0,
 0  40283.0,
 0  4527.45,
 0  21287,
 0  13074,
 0  4556.69,
 0  16288.6,
 0  141087,
 0  22217,
 0  151.0,
 0  2.69,
 0  19573.87,
 0  168.0,
 0  983.0,
 0  4967.2,
 0  1.9,
 0  3009.5,
 0  3864.18,
 0  None,
 0  3557.3294,
 0  2862.63,
 0  20906.19,
 0  15654.1,
 0  167.0,
 0  5784.4,
 0  9471.0022,
 0  23131.0539,
 0  2862.63,
 0  36371.17,
 0  3.05,
 0  9936.78,
 0  153.0,
 0  770.0,
 0  5265.0,
 0  2.2,
 0  11749.7,
 0  15399.33,
 0  388.4672,
 0  None,
 0  2613.79,
 0  5434.2,
 0  16323.01,
 0  155.0,
 0  4326.8,
 0  10299.4958,
 0  22874.9944,
 0  11575.38,
 0  13149.4,
 0  324.0,
 0  2.19,
 0  12281.48,
 0  13.0,
 0  167.0,
 0  7670.8,
 0  11.9,
 0  15767.93,
 0  17091.36,
 0  None,
 0  2.8737,
 0  None,
 0  4.01,
 0  23947.49,
 0  16.0,
 0  3634.0,
 0  27118.936,
 0  39022.728,
 0  3565.92,
 0  31033.95]

In [52]:
# 键入新的表
import pandas as pd
import pymssql 
from sqlalchemy import create_engine
db = 'gshm_jx'
engine = create_engine('mssql+pymssql://sa:123456@localhost/%s?charset=utf8' % db , echo=False)

print(engine)

Engine(mssql+pymssql://sa:***@localhost/gshm_jx?charset=utf8)

In [56]:
name = 'jx_dept_code_A'

pd.io.sql.to_sql(df_dept_code_2 ,name ,con = engine,if_exists='append',index=False)

df_dept_code_2.to_sql(name , engine,if_exists='append',index=False)

# if_exists= 'fail' ，如果数据库里面有表，则不会有任何改变
# 如果数据库里面有表,append 追加在表格後面，
# replce ，会覆盖同一个表名的数据